<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <a href="/edit_all">Modifier tous les paramètres</a><br>
</head>
<body>
    <h1>État actuel du programme</h1>
    <ul>
        <li>Nombre de Hosts : {{ parameters.nbr_hosts }}</li>
        <li>Réservation HA (%) : {{ parameters.reservation }}</li>
        <li>Nombre de Cores par Host : {{ parameters.host_nbr_core }}</li>
        <li>Quantité de RAM par Host (GB) : {{ parameters.host_nbr_ram }}</li>
        <li>Nombre de Cores par VM : {{ parameters.vm_nbr_core }}</li>
        <li>Quantité de RAM par VM (GB) : {{ parameters.vm_nbr_ram }}</li>
    </ul>
    <p>Vous pouvez créer {{ vm_count }} VM de taille moyenne dans ce cluster.</p>
</body>
</html>